@import "./base.css";

#app {
  background-color: rgb(175, 170, 170);
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    display: grid;

    padding: 10 2rem;
  }
}
