<template>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />

  <div class="bg-gray-900 text-gray-100 py-3.5 px-6 shadow md:flex justify-between items-center">
  <div class="flex items-center cursor-pointer">
    <span class="text-green-500 text-xl mr-1">
        <i class="bi bi-messenger"></i>
    </span>

  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="row">
      <div class="col-md-6"  v-for="link in Links">
        <a href="#" class="col-md-6">{{link.name}}</a>  
      </div>
    </div>
   
  </nav>

  </div>  
</template>
<script>
import Button from  './Button.vue'

export default {
    components:{
        Button
    },
    setup() {
       let Links=[
        {name: "CAPTURA" , link:"#"},
        {name: "CONSULTA" , link:"#"},
       ]
       return{Links} 
    },
}
</script>
<style scoped>
a{
color: antiquewhite;;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
</style>