<template>
    <div class="modal">
      <div class="mask"></div>
      <div class="contenido-modal">
        <div class="cuerpo-modal">
            <div class="container">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"  @click="$emit('close')">
                    <span aria-hidden="true">&times;</span>
                    </button>
                <div class="row">
                    <form>
                        <label>COGIGO:
                    <input type="text" class="form-control"  name="nombreM" id="nombreM"  />
                    </label>
                    <label>NOMBRE:
                    <input type="text" class="form-control"  required v-model="Articulo.nombre"/>
                    </label>
                    <label>CATEGORIA:
                    <input type="text" class="form-control" required v-model="Articulo.categoria"/>
                    </label>
                    <label>DESCRIPCION:
                    <input type="text" class="form-control"  required v-model="Articulo.descripcion"/>
                    </label>
                    <div class="form-group">
                    <Button type="button" class="btn btn-primary"  @click="guardarEdit">GUARDAR</Button>
                    <Button type="button" class="btn btn-primary"  @click="showModal" >CERRAR</Button>
                </div>
                    </form>
                    

       
            </div>
           
            </div>
            
          <slot />
        </div>
      </div>
    </div>
  </template>
  
  <script>
    export default {
        
      name: 'Modal',
      props: {
        flagCerrar: {
          type: Boolean,
          default: true,
        }
      },
      data() {
        return {
        isModalVisible: false,
        data: {
        id: "",
      },
      id: null,
      Articulos: null,
      Catalogos: null,      
      Articulo: {
        id:"",
        codigo: "",
        nombre: "",
        categoria: "",
        descripcion: "",
      },  
        
      watch: {
        
      },
      methods: {
        showModal() {
            this.isModalVisible = true;
        },
        closeModal() {
            this.isModalVisible = false;
        } ,      
        
        
        salir(){
            this.$router.push("/App");
        },
    }
}
    }
}

</script>
  
<style scoped>
  .modal {
    display: none;
    position: fixed;
    z-index: 20;
    /* padding-top: 100px; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    /* backdrop-filter: blur(12px); */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
  .mask {
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  .contenido-modal {
    position: relative;
    background-color: #4f4545;
    margin: auto;
    width: 100%;
    max-width: 460px;
    min-width: 300px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    box-sizing: border-box;
    z-index: 100;
    box-shadow: 0px 3px 8px #00000029;
    border-radius: 20px;
  }
  .contenido-modal .close {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    margin-top: -10px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }
  .contenido-modal .close img {
    width: 18px;
    object-fit: cover;
  }
  .contenido-modal .close:hover {
    background-color: #F2F2F2;
    transition: 0.3s;
  }
  .contenido-modal .cuerpo-modal {
      overflow-y: auto;
      box-shadow: 0px 3px 8px #00000029;
      border-radius: 20px;
  }
  
  @-webkit-keyframes animatetop {
    from {
        bottom: -500px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
  }
  @keyframes animatetop {
    from {
        bottom: -500px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
  }
  
  @media (max-width: 767px) {
    .modal {
      padding: 0;
    }
    .contenido-modal {
        height: calc(100vh - 35px);
        padding: 0;
        border-radius: 20px 20px 0 0;
        margin-top: 35px;
    }
    .contenido-modal .close {
        display: none;
    }
    .contenido-modal .cuerpo-modal {
          box-shadow: none;
          border-top: 20px;
      }
  }
  @media (max-width: 375px) {
    .contenido-modal {
      height: initial;
      border-radius: 0;
    }
  }
  @media (max-height: 700px) {
    .contenido-modal {
      margin-top: 0;
    }
  }
  </style>