<template>
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <div>
    <header />
    <div class="container">
      <h2>CAPTURA DE ARTICULOS</h2>
    </div>
  
  </div>
      <hr />      
      <form action="">
        <div class="row form-group">
          <div class="row">
            <div class="col-sm-1">
              <label class="control-label col-sm-12 ">COGIGO:  </label>
              <div class="col-sm-12">
                <input v-model="form.codigo" type="text" class="form-control" required />
              </div>
            </div>
            <div class="col-sm-2">
              <label class="control-label col-sm-12 ">NOMBRE:  </label>
              <div class="col-sm-12">
                <input v-model="form.nombre" type="text"  class="form-control" required />
              </div>  
            </div>  
            <div class="col-md-3">
            <label
              >CATEGORIA: </label>
              <select v-model="form.categoria" type="text" class="form-select">
                <option v-for="catalogo in Catalogos" :key="catalogo.id" :value="catalogo.id">              
                  {{ catalogo.Nombre }}
                </option>
              </select>           
          </div>                       
            <div class="col-md-3">
              <label class="col-sm-12">DESCRIPCION:
                <textarea v-model="form.descripcion"  type="text" required class="form-control col-sm-3"></textarea>
              </label>
            </div>                                   
           
         <div class="col-md-1" style="margin-top:25px">
            <button class="btn btn-primary" v-on:click="guardar" type="submit">
              GUARDAR
            </button>
          </div>
        </div>        
      </div>  
      </form>
     <hr/>
     <h2>AREA DE CONSULTA DE DATOS</h2>
      <div class="row">
        <div class="col-sm-6">
          <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">CODIGO</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">CATEGORIA</th>
            <th scope="col">DESCRIPCION</th>
            <th scope="col">ACCION</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="content in Articulos" :key="content.id">
            <td>{{ content.id }}</td>
            <td>{{ content.codigo }}</td>
            <td>{{ content.nombre }}</td>
            <td>{{ content.categoria }}</td>
            <td>{{ content.descripcion }}</td>
            <td>
              <Button type="submit" class="btn btn-primary btn-sm btn-lg btn-danger"   v-on:click="borrar(content.id)">BORRAR
            
            </Button>
            </td>
            <td> 

              <i class="material-icons blue-text"  v-on:click="editar(content.id)">edit</i>
            </td>
          </tr>
        </tbody>
      </table>
        </div>
        <div class="col-sm-6">
          <form>
            <div class="row">
              <h2>AREA DE MODIFICAR  DATOS</h2>
              <div class="col-md-6">
                <label>COGIGO:
                    <input type="text" class="form-control"  name="nombreM" id="nombreM" v-model="Articulo.codigo" /> </label>
              </div>
            <div class="col-md-6">
                 
              <label>NOMBRE:
                    <input type="text" class="form-control"  required v-model="Articulo.nombre"/>
                    </label>
            </div>
            <div class="col-md-6">
              <label>CATEGORIA:
                    <input type="text" class="form-control" required v-model="Articulo.categoria"/>
                    </label>
            </div>
            <div class="col-md-6">
              <label>DESCRIPCION:
                    <input type="text" class="form-control"  required v-model="Articulo.descripcion"/>
                    </label>
            </div>
            </div>                                                   
                  
              <Button type="submit" class="btn btn-primary"  v-on:click="guardarEdit()">EDITAR</Button>

          </form>
        </div>
      </div>
    
<Modal v-show="isModalVisible" @close="closeModal" ></Modal>
</template>
<script>
import Modal from "./components/Modal.vue";
import axios from "axios";
import { Global } from "../Global";


export default {
  name: 'app',
    components: {
      Modal,
    },
    data () {
      return {
        isModalVisible: false,
        data: {
        id: "",
      },
      id: null,
      Articulos: null,
      Catalogos: null,
      Articulo:{
        id:"",
        codigo: "",
        nombre: "",
        categoria: "",
        descripcion: ""
      },
      form: {
        codigo: "",
        nombre: "",
        categoria: "",
        descripcion: ""
      }, 
       
    }
  },
  
  methods: { 
      showModal(i) {    
        var data = { id: i };
      this.isModalVisible = true;
      },
      closeModal() {
        this.isModalVisible = false;
      },    
    guardar() {
      fetch("http://localhost/RegistroDatos/api/articulos.php", {
        method: "POST",
        mode: "cors",
        body: JSON.stringify(this.form),
        headers: { "Content-type": "application/json; charset=UTF-8" },
      })
      .then((res) => res.json())
        .catch((error) => console.error("Error:", error))
        .then((response) => console.log("Success:", response));
    },
    borrar(i) {
      var data = { id: i };

    /*  fetch(Global.ur + "Borrar.php", {
        method: "POST", // or 'PUT'
        body: JSON.stringify(data), // data can be `string` or {object}!
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((res) => res.json())
        .catch((error) => console.error("Error:", error))
        .then((response) => console.log("Success:", response));
*/
      axios
      .post(Global.url+'Borrar.php',data)
      .then((response) => (this.form = response.data))
        .catch((error) => console.error("Error:", error))
        .then((response) => console.log("Success:", response));
        location. reload();
    },
    editar(i) {
      var data = { id: i };
      axios
      .post(Global.url + "articulos.php",data)
      .then(data => {
          
           this.Articulo.id = data.data[0].id
           this.Articulo.nombre = data.data[0].nombre
           this.Articulo.codigo = data.data[0].codigo
           this.Articulo.categoria = data.data[0].categoria
           this.Articulo.descripcion = data.data[0].descripcion
         
      });
    },
    guardarEdit(){
      fetch("http://localhost/RegistroDatos/api/Editar.php", {
        method: "POST",
        mode: "cors",
        body: JSON.stringify(this.Articulo),
        headers: { "Content-type": "application/json; charset=UTF-8" },
      })
      .then((res) => res.json())
        .catch((error) => console.error("Error:", error))
        .then((response) => console.log("Success:", response));
    }  
  },
  mounted() {

    axios
      .get(Global.url + "articulos.php")
      .then((response) => (this.Articulos = response.data));
    axios
      .get("http://localhost/RegistroDatos/api/catalogos.php")
      .then((response) => (this.Catalogos = response.data));
  },

  components: { Modal },
};
</script>

<style scoped>
#app{
  font-family:Arial, Helvetica, sans-serif;
}

label {
  text-align: center;
}
.contador {
  background: tomato;
  color: snow;
  font-weight: bold;
  height: 100px;
}
</style>
