<template>
          <form action="">
        <div class="row">
          <div class="col-md-2">
            <label
              >COGIGO:
              <input type="text" class="form-control" required name="nombre" id="nombre" v-model="form.codigo"/>
            </label>
          </div>
          <div class="col-md-2">
            <label
              >NOMBRE:
              <input v-model="form.nombre" type="text" class="form-control" placeholder="Nombre" required/>
            </label>
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary" v-on:click="guardar" type="button">
              GUARDAR
            </button>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-2">
            <label
              >DESCRIPCION:
              <textarea
                v-model="form.descripcion"
                type="text"
                required
                class="form-control"
              ></textarea>
            </label>
          </div>
          <div class="col-md-3">
            <label
              >CATEGORIA:
              <select v-model="form.categoria" type="text" class="form-select">
                <option v-for="catalogo in Catalogos" :key="catalogo.id" :value="catalogo.id">              
                  {{ catalogo.Nombre }}
                </option>
              </select>
            </label>
          </div>
          <div class="form-group">
            <Button type="button" class="btn btn-primary" v-on:click="guardar()">GUARDAR</Button>
            <Button type="button" class="btn btn-primary" v-on:click="salir()">SALIR</Button>

          </div>
        </div>
      </form>
</template>
<script>
import axios from 'axios';
import { Global } from "../Global";
export default {
    name:"Editar",
    components:{

},
    methods:{
        guardar(){
            axios.put(Global.url+"articulos.php",this.form)
            .then(data =>{
                console.log(data);
            })
        },
        salir(){
            this.$router.push("/App");
        }
    },
    data() {
    return {
      data: {
        id: "",
      },
      id: null,
      Articulos: null,
      Catalogos: null,
      form: {
        id:"",
        codigo: "",
        nombre: "",
        categoria: "",
        descripcion: "",
      },
    };
  },   
}
</script>